@mixin mobile {
  @media screen and (max-width: 770px) {
    @content;
  }
}

* {
  font-family: inherit;
  font-size: 1rem;
}
.formContainer {
  background-color: #a7bcff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .formWrapper {
    background-color: white;
    padding: 1.25rem 3.75rem;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    .logo {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .title {
      color: #5d5b8d;
      font-size: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 0.9rem;

      input {
        padding: 0.9rem;
        border: none;
        outline: none;
        width: 15.6rem;
        border-bottom: 1px solid #a7bcff;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: #7b96ec;
        color: white;
        padding: 0.6rem;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
      label {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        color: #8da4f1;
        cursor: pointer;
        img {
          height: 2.5rem;
          width: 2.5rem;
        }
        span {
          font-size: 0.8rem;
        }
      }
    }
    p {
      margin-top: 0.75rem;
      color: #5d5b8d;
      font-size: 0.7rem;
    }
  }
}

.home {
  background-color: #a7bcff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;

    .sidebar {
      flex: 1;
      background-color: #3e3c61;

      .navbar {
        background: #2f2d52;
        display: flex;
        align-items: center;
        height: 3.1rem;
        padding: 0.6rem;
        justify-content: space-between;
        color: #ddddf7;

        @include mobile {
          height: 2rem;
        }

        .logo {
          font-weight: bold;
          @include mobile {
            display: none;
          }
        }
        .user {
          display: flex;
          gap: 0.6rem;
          align-items: center;
          @include mobile {
            gap: 0.3rem;
          }
          img {
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            background-color: #5d5b8d;
            color: #ddddf7;
            font-size: 0.6rem;
            cursor: pointer;
            border: none;
          }
        }
      }

      .search {
        border-bottom: 1px solid gray;
        .searchForm {
          padding: 0.6rem;
          @include mobile {
            padding: 0.4rems;
          }
          input {
            background-color: transparent;
            border: none;
            outline: none;
            width: 85%;
            color: #ddddf7;
            &::placeholder {
              color: lightgray;
              @include mobile {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
      .chats {
        height: 24rem;
        overflow-y: scroll;
        @include mobile {
          height: calc(100% - 2.6rem);
        }
      }
      /* Hide scrollbar for Chrome, Safari and Opera */
      .chats::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .chats {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      .userChat {
        padding: 0.6rem;
        display: flex;
        color: white;
        cursor: pointer;
        align-items: center;
        gap: 0.6rem;
        @include mobile {
          gap: 0.4rem;
          padding: 0.4rem;
        }
        &:hover {
          background-color: #2f2d52;
        }
        img {
          width: 3.1rem;
          height: 3.1rem;
          object-fit: cover;
          border-radius: 50%;
          @include mobile {
            width: 2rem;
            height: 2rem;
          }
        }

        .userChatInfo {
          span {
            font-size: 1.1rem;
            font-weight: 500;
            @include mobile {
              font-size: 0.8rem;
            }
          }
          p {
            font-size: 0.8rem;
            color: lightgray;
            margin: 0;
            @include mobile {
              font-size: 0.6rem;
            }
          }
        }
      }
    }
    .chat {
      flex: 4;
      .chatInfo {
        height: 3.1rem;
        background-color: #5d5b8d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.6rem;
        color: lightgray;
        .chatIcons {
          display: flex;
          gap: 0.6rem;
          img {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
          }
        }
      }
      /* Hide scrollbar for Chrome, Safari and Opera */
      .messages::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .messages {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      .messages {
        background-color: #ddddf7;
        padding: 0.6rem;
        height: calc(100% - 9.8rem);
        overflow: scroll;
        .message {
          display: flex;
          gap: 1.2rem;
          margin-bottom: 1.2rem;
          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;
            img {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .messageContent {
            display: flex;
            flex-direction: column;
            max-width: 80%;
            gap: 0.6rem;
            p {
              background-color: white;
              padding: 0.6rem 1.2rem;
              border-radius: 0 0.6rem 0.6rem 0.6rem;
              max-width: max-content;
            }
            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;
            .messageContent {
              align-items: flex-end;
              p {
                background-color: #8da4f1;
                color: white;
                border-radius: 0.6rem 0 0.6rem 0.6rem;
              }
            }
          }
        }
      }
      .input {
        height: 3.1rem;
        background-color: #fff;
        padding: 0.6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
          width: 100%;
          border: none;
          outline: none;
          color: #2f2d52;
          font-size: 1.1rem;
          &::placeholder {
            color: lightgray;
          }
        }
        .send {
          display: flex;
          align-items: center;
          gap: 0.6rem;
          img {
            width: 2rem;
            height: 2rem;
            cursor: pointer;
          }
          button {
            padding: 0.6rem 0.9rem;
            color: white;
            background-color: #a7bcff;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
